* { box-sizing: border-box; font-family: Arial; }

body { margin: 0; background: #fafafa; }

.header {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  background: white;
  position: sticky;
  top: 0;
}

nav a, .cart-btn {
  margin-left: 10px;
  border: none;
  background: none;
  cursor: pointer;
}

.container { padding: 20px; }

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 15px;
}

.card {
  background: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,.1);
  text-align: center;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

.card button {
  background: #d28c4b;
  border: none;
  color: white;
  padding: 8px;
  width: 100%;
  border-radius: 5px;
  margin-top: 8px;
}

.cart {
  position: fixed;
  top: 0;
  right: -320px;
  width: 300px;
  height: 100%;
  background: white;
  padding: 20px;
  box-shadow: -2px 0 10px rgba(0,0,0,.3);
  transition: right .3s;
  z-index: 9999;
}

.cart.open {
  right: 0;
}

.cart-btn {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}


.whatsapp-btn {
  background: #25D366;
  border: none;
  padding: 10px;
  width: 100%;
  color: white;
  border-radius: 5px;
}

@media (max-width: 600px) {
  nav a { display: none; }
}


/* carrito para la X */
.cart-header {
  position: relative;
  margin-bottom: 10px;
}

.cart-header h3 {
  margin: 0;
}

 .close-cart {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  font-size: 22px;
  color: #999;
}

.close-cart:hover {
  color: red;
}


